.alt-popup {
  display: none;
  border: 1px solid #ccc;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1rem 1.5rem;
  max-width: 390px;
  border-radius: 0.5rem;
  width: 100%;
}
.alt-loader {
    display: none;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  .alt-main-form table.form-table {
    background-color: white;
    width: 90%;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
   
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  li#toplevel_page_alertio img {
    width: 57%;
}
input.alt-wp-secret,input.alt-dashboard-secret {
  width: 30%;
}
 
.alt-main-form .form-table th {
  padding: 20px;
}
 
.alt-main-form .form-table {
  border: 0;
}
 
.alt-wrap
{
  border-radius: 6px;
  background: #FFFFFF;
  box-shadow: 0px 0px 31px rgba(44, 50, 63, 0.02);
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 20px;
  color: #404040;
  border: 1px solid #ddd;
  margin-top: 20px;
  font-size: 14px;
}
/* td button.button.button-primary.alt-generate-token {
  right: 272px !important;
} */
.alt-wrap form.alt-main-form {
 
  margin-right: 20px;
}
.alt-main-form h2 {
  margin: 19px;
  padding-top: 20px;
  color: #000;
  font-size: 22px;
  line-height: 30px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
}
.alt-main-form .form-table tr td input[type="text"] {
  border: 1px solid #e8ebf3;
  border-radius: 6px;
  height: 48px;
  width: 100%;
  margin: 0;
  color: #404040;
  font-size: 18px;
  font-weight: normal;
  padding: 0px 20px;
  background: transparent;
  max-width: 590px;
}
 
.alt-main-form .form-table tr
{
  border:0;
}
 
.alt-main-form .form-table  .alt-wp-secret {
  position: relative;
}
 
.alt-main-form .form-table  tr td .alt-generate-token {
  /* position: absolute; */
  /* right: 0px; */
  /* z-index: 2; */
  border: none;
  top: 15px;
  height: 47px;
  cursor: pointer;
  color: #fff;
  /* right:290px; */
  /* transform: translateX(-51%); */
  /* transform: translateX(-105%); */
  transform: translateX(-105%);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
 
.alt-main-form .form-table tr:first-child
{
  position: relative;
}
 
.alt-main-form .form-table td,
.alt-main-form .form-table th {
  margin-bottom: 9px;
  padding: 15px 25px;
  line-height: 1.3;
  vertical-align: middle;
  position: relative;
}
 
.alt-main-form input#submit {
  border: none;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700;
  height: inherit;
  line-height: inherit;
  padding: 13px 20px;
  border-radius: 5px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  display: block;
  margin-left: 20px;
}
 
.alt-generate-token {
  width: 100px;
}
 
.alt-wp-secret:hover #copy-icon {
  display: inline;
}
.alt-copy-token {
  display: none;
  position: absolute;
  top: 13px;
  left: 384px;
}
.alt-secret-token-wrap {
  position: relative;
}
input.alt-wp-secret:hover + .alt-copy-token {
  display: inline;
}
 
.alt-popup h3 {
  font-size: 18px;
  color: #404040;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 300px;
  margin: 20px auto 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.alt-confirm-action {
  border: none;
  color: #fff;
  text-shadow: none;
  font-size: 16px;
  font-weight: 700;
  height: inherit;
  line-height: inherit;
  padding: 13px 20px;
  border-radius: 5px;
  display: block;
  background-color: #135e96;
}
 
.alt-cancelled-action {
  border: none;
  color: #333;
  text-shadow: none;
  font-size: 16px;
  font-weight: 700;
  height: inherit;
  line-height: inherit;
  padding: 13px 20px;
  border-radius: 5px;
  display: block;
  margin-left: 20px;
  background-color: #e1e1e1;
}
 
.alt-actions {
    display: flex;
    justify-content: center;
    align-items: center;
}